@model IEnumerable<Appellio.Models.IAlbum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Create" asp-controller="Albums" method="post">
    <input type="submit" value="Create New" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.Title)*@
                    @Html.ActionLink(item.Title, "Index", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
