@model IEnumerable<Appellio.Models.IWord>

@{
    ViewData["Title"] = "Words";
}

<h2>@ViewData["AlbumTitle"]</h2>
<p>
    <a asp-action="Create" asp-controller="Words">Create New</a>
</p>

<button id="start" class="btn btn-primary">再生</button>
<button id="pause" class="btn btn-secondary">停止</button>

<table id="wordsTable" class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Spelling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meaning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Spelling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meaning)
                </td>
                <td class=".cell-text">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Words", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/app.js"></script>