@model IEnumerable<Appellio.Models.IWord>

    @{
    ViewData["Title"] = "Words";
    }

    <h1>@ViewData["AlbumTitle"]</h1>

    <p>
        @Html.ActionLink("Add New", "Add", "Words", new { id = Context.Request.Path.Value.Split('/').Last() })
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Spelling)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meaning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Spelling)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meaning)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Words" , new { id=item.Id })
                </td>
            </tr>
}
        </tbody>
    </table>
    <div>
        <a href="/Albums">Back to List</a>
    </div>
