@model Appellio.Models.IWord

@{
    ViewData["Title"] = "Delete";
}

<h1>削除</h1>

<h3>この単語を削除しますか？</h3>
<div>
    <h4>IWord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spelling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.AlbumId)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">Back to Detail</a>
    </form>
</div>
