@model Appellio.Models.IWord

@{
    ViewData["Title"] = "Delete";
}

<h3>削除</h3>

この単語を削除しますか？

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spelling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spelling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Meaning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Meaning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.AlbumId)
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">詳細に戻る</a>
    </form>
</div>
